.faq-section {
  text-align: center;
  padding: 50px 20px;
  /* background: #f8f9fa; */
  background-color: #d2f2e7;
}

.faq-section h2 {
  font-size: 28px;
  color: #1a73e8;
  margin-bottom: 20px;
}

.faq-container {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.faq-question {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question span {
  font-size: 24px;
  font-weight: bold;
}

.faq-answer {
  font-size: 16px;
  color: #555;
  padding: 10px 15px;
  line-height: 1.6;
}
